*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.askme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 107, 249);
    gap: 1rem;
    padding: 4rem;
    border-radius: 0.4rem;
    border: 5px solid transparent;
}

button{
    padding: 0.5rem 1rem;
    background-color: aliceblue;
    color:rgb(180, 107, 249) ;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.btns{
    display: flex;
    gap: 2rem;
}
input{
    padding: 0.4rem;
    width: 20rem;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}